html, body {
	color: #313131;
    background-color: #fcfcfc;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

a {
	font-weight: bold;
}

.snail-logo {
	height: 31px;
}

.snail-fg-color-brand {
	color: #fcbe03;
}