@import "./custom/typography.css";
@import "./custom/home.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html,
body {
    @apply text-[#131313] dark:text-[#c1c3c1];
    background-color: #fcfdfe;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

input {
    @apply text-[#131313] dark:text-[#131313];
}

a {
    font-weight: bold;
}

.ssnail-logo {
    height: 31px;
}

.ssnail-link {
    @apply text-brand hover:text-brand-hover hover:dark:text-brand-hover transition-colors;
}